[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoxBoost"]
	path = CoxBoost
	url = https://github.com/binderh/CoxBoost
	registered = false
[submodule "E2E"]
	path = E2E
	url = https://github.com/xiaojie0519/e2e
